body
{
	background-color: gray;
	font-family: Verdana;
	font-size: 14px;
	color: white;
}
.container
{
	width: 1500px;
	margin-left: auto;
	margin-right: auto;
	min-height: 410px;
}
.kronika
{
	text-align: center;
	letter-spacing: 10px;
	font-size: 30px;
	background-color: tan;
	width: 1317px;
	margin-left: 201px;
	margin-bottom: 10px;
	font-weight: 700;
	color: mediumblue;
	padding: 10px 0;	
}
.rama
{
	float: left;
	width: 1000px;
	min-height: 350px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
}
.ramka
{
	float: left;
	padding: 10px;
	min-height: 170px;
	font-size: 16px;
}
a:link
{
	color: yellow;
}
a:visited
{
	color: yellow;
}
a:hover
{
	color: red;
}
#biblia
{
	text-align: center;
	letter-spacing: 2px;
	font-size: 33px;
	font-weight: 700;
	background-color: white;
	color: goldenrod;
	padding: 10px;
}
#religijne
{
	background-color: blue;
	margin-top: 5px;
}
#pozostale
{
	margin-top: 5px;
}
.autor
{
    display: inline-block;
	font-family: Times New Roman;
	font-size: 18px;
    margin: 10px;
    padding: 10px;
    border: 3px solid black;
}

.nazwisko 
{
    text-align: center;
    font-weight: 700;
    margin-bottom: 10px;
}

.tytuly
{
    border-top: 2px dotted black;
    padding-top: 10px;
	color: gold;
}